{% extends "base.html" %}
{% block title %}Form Adopsi Satwa{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="card mb-4">
    <div class="card-header text-center py-3">
      <h4 class="mb-0">FORM ADOPSI SATWA - ORGANISASI</h4>
    </div>
    <div class="card-body">
      <form>
        <p>Pihak di bawah ini, selaku organisasi/perusahaan</p>
        <div class="mb-3">
          <label for="namaOrganisasi" class="form-label">Nama:</label>
          <input type="text" class="form-control" id="namaOrganisasi">
        </div>
        
        <div class="mb-3">
          <label for="nppOrganisasi" class="form-label">NPP:</label>
          <input type="text" class="form-control" id="nppOrganisasi">
        </div>
        
        <div class="mb-3">
          <label for="alamatOrganisasi" class="form-label">Alamat:</label>
          <textarea class="form-control" id="alamatOrganisasi" rows="2" placeholder="Alamat Pengunjung"></textarea>
        </div>
        
        <div class="mb-3">
          <label for="kontakOrganisasi" class="form-label">Kontak:</label>
          <input type="text" class="form-control" id="kontakOrganisasi" placeholder="No. Telepon">
        </div>
        
        <p>(selanjutnya disebut sebagai Adopter)</p>
        <p>dengan ini menyatakan kepedulian dan minat untuk mengadopsi secara simbolis satwa</p>
        
        <div class="mb-3">
          <label for="namaHewanOrganisasi" class="form-label">Nama Hewan:</label>
          <input type="text" class="form-control" id="namaHewanOrganisasi">
        </div>
        
        <div class="mb-3">
          <label for="jenisHewanOrganisasi" class="form-label">Jenis Hewan:</label>
          <input type="text" class="form-control" id="jenisHewanOrganisasi">
        </div>
        
        <p>Adopter juga bersedia memberikan kontribusi finansial kepada pihak taman safari sebagai dukungan untuk pemeliharaan satwa:</p>
        
        <div class="mb-3">
          <label for="nominalOrganisasi" class="form-label">Nominal Kontribusi:</label>
          <input type="text" class="form-control" id="nominalOrganisasi">
        </div>
        
        <div class="mb-3">
          <label for="periodeOrganisasi" class="form-label">Periode Adopsi:</label>
          <select class="form-select" id="periodeOrganisasi">
            <option value="3">3 Bulan</option>
            <option value="6">6 Bulan</option>
            <option value="12">12 Bulan</option>
          </select>
        </div>
        
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-primary mx-2">Submit Form</button>
          <button type="button" class="btn btn-secondary mx-2">Batal</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}